<div ng-controller="HomeController">
    <p>监控中心</p>
    <div class="bgo-panel">
        <!--<ul class="bgo-control clearfix">
            <li>
                <div date-picker month="month" means="getData()"></div>
            </li>
        </ul>-->
        <iframe id="ifr" width="100%" scrolling="no" frameborder="0"></iframe>
    </div>
    <script>
        ifr.src = 'control.html?random=' + (new Date().getTime());
        $('#ifr').on("load",function() {
            var _height = $(document).height() - 160;
            $('#ifr').height(_height);
        });
    </script>
</div>